@media(max-width:480px){
  *{
    width: auto;
  }
  nav a{
    font-size:15px;
  }
  .main{
    flex-direction: column;
  }

  .about-text{
    padding-top: 30px;
  }
  .skills{
    flex-direction: column;
  }
  .skill{
    width: 100%;
  }
  .html5,.css3{
    padding-bottom: 30px;
  }
}
