@media(max-width:480px){
  *{
    width: auto;
  }
  header{
    display: none;
  }
  #a{
    display: block;
  }
  .main{
    flex-direction: column;
  }
  .about-text{
    padding-top: 30px;
  }
  .skills{
    flex-direction: column;
  }
  .skill{
    width: 100%;
  }
  .html5,.css3{
    padding-bottom: 30px;
  }

}
